[submodule "MyEmulator"]
	path = MyEmulator
	url = https://github.com/Keyhole-Koro/MyEmulator.git
[submodule "MyAssembler"]
	path = MyAssembler
	url = https://github.com/Keyhole-Koro/MyAssembler.git
[submodule "MyTester"]
	path = MyTester
	url = https://github.com/Keyhole-Koro/MyTester.git
[submodule "MyLinker"]
	path = MyLinker
	url = https://github.com/Keyhole-Koro/MyLinker.git
