[submodule "MyEmulator"]
	path = runtime/MyEmulator
	url = https://github.com/Keyhole-Koro/MyEmulator.git
	branch = main
[submodule "MyAssembler"]
	path = toolchain/MyAssembler
	url = https://github.com/Keyhole-Koro/MyAssembler.git
	branch = main
[submodule "MyLinker"]
	path = toolchain/MyLinker
	url = https://github.com/Keyhole-Koro/MyLinker.git
	branch = main
[submodule "MyLangCompiler"]
	path = toolchain/MyLangCompiler
	url = https://github.com/Keyhole-Koro/MyLangCompiler.git
	branch = main
[submodule "MyKernel"]
	path = system/MyKernel
	url = https://github.com/Keyhole-Koro/MyKernel.git
	branch = main
[submodule "tools/MyLangServerProtocol"]
	path = tools/MyLangServerProtocol
	url = https://github.com/Keyhole-Koro/MyLangServerProtocol.git
	branch = main
[submodule "MySyntaxEngine"]
	path = toolchain/MySyntaxEngine
	url = https://github.com/Keyhole-Koro/MySyntaxEngine.git
	branch = master
[submodule "MyVerilator"]
	path = hardware/verilator
	url = git@github.com:Keyhole-Koro/MyVerilator.git
[submodule "toolchain/MyLangTester"]
	path = toolchain/MyLangTester
	url = git@github.com:Keyhole-Koro/MyLangTester.git
	branch = main
[submodule "system/MyOS"]
	path = system/MyOS
	url = git@github.com:Keyhole-Koro/MyOS.git
